<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- 1. The INTERNET permission MUST be a direct child of the <manifest> tag -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 2. Set 'usesCleartextTraffic' to true inside the <application> tag -->
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CSIPV1"
        android:usesCleartextTraffic="true">  <!-- This allows non-HTTPS traffic -->

        <!-- MainActivity is the first screen that opens (the launcher) -->
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All other activities in your app MUST be declared here -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />

        <activity
            android:name=".HomeActivity"
            android:exported="false" />

        <activity
            android:name=".SettingsActivity"
            android:exported="false" />

        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false" />

        <activity
            android:name=".GoalsActivity"
            android:exported="false" />

        <activity
            android:name=".CalorieTrackerActivity"
            android:exported="false" />

        <activity
            android:name=".WorkoutActivity"
            android:exported="false" />

        <activity
            android:name=".RecipiesActivity"
            android:exported="false" />

        <activity
            android:name=".FoodDiaryActivity"
            android:exported="false" />

        <activity
            android:name=".WorkoutDetailActivity"
            android:exported="false" />

        <activity
            android:name=".ExerciseDetailActivity"
            android:exported="false" />

    </application>

</manifest>
